.album {
  font-family: 'Roboto', sans-serif;
  min-height: 600px;
  width: 100%;
}
.album-container {

  width: 1200px;
  margin: auto;
}
.album-container-item{
  padding-top: 100px;
}
.album-container-title{
  font-family: 'Tourney', cursive;
  font-size: 40px;
  color: var(--topic-color);
  text-transform: uppercase;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  border-bottom: 10px solid transparent;
  border-image: url(https://www.w3schools.com/cssref/border.png) 30 stretch;
  user-select: none;
}

.album-container-title span {
  margin-right: 16px;
}

.album-container-title img {
  width: 50px;
  height: 50px;
}

.album-container-list {
  margin-top: 100px;
}

.album-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
}

.album-item {
  width:  100%;
  border-radius: 10px;
}
.item-khac,
.item-beer {
  height: 512px;
  object-fit: cover;
}

.album-video {
  border-radius: 10px;
  height: 512px;
  object-fit: cover;
}
.school-item-bonus {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 45px;
  text-decoration: none;
  color: #fff;
  background: var(--primary-color);
  font-size: 22px;
  font-weight: bold;
  transition: all linear 0.2s;
  width: 200px;
  text-align: center;
}
.school-item-bonus:hover {
  opacity: 0.8;
}
.bonus-album {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}
/* Mobile & Tablet  <= 1023px */
@media screen and (max-width: 63.9375em) {
  .album-container {
    width: auto;
  }
  .mb-27 {
    margin-bottom: 27px;
  }
  .bonus-album {
    margin-top: 90px;
  }
}
/* Mobile: Width < 740px */
@media screen and (max-width: 46.1875em) {
  .rps-tablet {
    margin-bottom: 24px;
    position: relative;
  }
  .album-video,
  .album-item {
    width: 90%!important;
    height: 400px!important;
    object-fit: cover;
    position: relative;
    left: 5%;
  }
  .album-container-item {
    position: relative;
    padding-top: 65px;
  }
  .album-container-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .rps-title {
    width: 235px;
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {

  .album-container-title {
    margin-left: 57px;
  }
  .album-middle {
    height: 879px;
  }
  .rps-tablet {
    margin-bottom: 24px;
    position: relative;
  }
  .album-item {
    height: 600px!important;
    object-fit: cover;
  }
  .album-video {
    height: 600px!important;
    object-fit: cover;
  }

}

/* PC: width >= 1024px */
@media screen and (min-width: 64em) {
  .rps-tablet{
    position: relative;
  }
}