@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes topToBottom {
  from {
    opacity: 0;
    transform: translateY(calc(-50% + -50px));
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes rightToLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}