.header{
  width: 100%;
  height: 60px;
  background-color: #fff;
  padding: 0 32px;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: all var(--transition-move) 0.4s 0.1s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header.dark {
  background-color: var(--dark-color);
  box-shadow: 0 0px 5px rgba(255, 255, 255, 0.3)
}

.header-logo{
  display: flex;
  align-items: center;
}
.header-logo-img{
  height: 50px;
}
.header-menu{

}
.header-menu-list{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-menu-item{
  line-height: 60px;
  position: relative;
  margin: 0 32px;
  display: inline;
}
.header-menu-link{
  display: block;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  transition: all var(--transition-move) 0.4s 0.1s;
}

.header-menu-link.dark {
  color: #fff;
}

.header-menu-item::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 10px;
  transform: scaleX(0);
  border-bottom: 3px solid var(--primary-color);
  border-radius: 10px;
  width: 100%;
  transition: all var(--transition-move) 0.4s 0.1s;
}
.header-menu-list > .header-menu-item:hover::after {
  transform: scale(1);
}
.header-menu-list > .header-menu-item:hover .header-menu-link{
  color: var(--primary-color);
}
.header-menu-item:hover .sub-menu {
  display: block;
}
.sub-menu {
  position: fixed;
  min-height: 150px;
  background-color: #fff;
  top: 60;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.3s;
}

.sub-menu.dark {
  background-color: var(--dark-color);
}

.sub-menu-item {
  list-style: none;
  min-height: 32px;
  position: relative;
}
.sub-menu-link {
  text-decoration: none;
  font-size: 14px;
  display: flex;
  color: black;
  text-transform: uppercase;
  padding: 0  29px 0 16px;
  height: 45px;
  line-height: 45px;
  align-items: center;
  font-weight: bold;
  /* position: relative; */
  transition: all var(--transition-move) 0.4s 0.1s;

}

.sub-menu-link.dark {
  color: #fff;
}

.sub-menu-link img {
  width: 30px;
  height: 30px;
  line-height: 45px;
  object-fit: cover;
}
.sub-menu-link span {
  margin-right: 18px;
}
.sub-menu-link .sub-menu-school {
  margin-right: 33px;
}
.sub-menu-link .sub-menu-beer {
  margin-right: 22px;
}
.sub-menu-item::after {
  content: '';
  display: block;
  bottom: 0px;
  transform: scaleX(0);
  border-bottom: 3px solid var(--primary-color);
  border-radius: 10px;
  width: 100%;
  transition: all linear 0.2s;
}
.sub-menu-item:hover::after {
  transform: scale(1);
}
.sub-menu-link:hover {
  color: var(--primary-color)
}

.warpper-switch {
  width: 70px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 5px;
}

.switch-toggle {
  width: 80px;
  height: 40px;
  appearance: none;
  background-color: var(--primary-color);
  position: absolute;
  top: 5px;
  right: 40px;
  border-radius: 40px;
  transition: all var(--transition-move) 0.4s 0.1s ;
  cursor: pointer;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}
.switch-toggle::after {
  content: '';
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: all var(--transition-move) 0.4s 0.1s ;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.switch-toggle:checked {
  background-color: #be6900;
}

.switch-toggle:checked::after {
  left: 43px;
}