.load {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.load img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.load-title {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-top: 50px;
  animation: rightToLeft linear 8s infinite;
}
@keyframes rightToLeft {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(100%);
  }
}