@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
:root {
  --overlay-width: 100%;
  --overlay-height: 600px;
  --primary-color: #ff8d00;
  --topic-color: #ffc86e;
  --transition-move: cubic-bezier(.25, -0.59, 0.82, 1.66);
  --dark-color: #111;
}
.pdb-0 {
  padding-bottom: 0;
}
.flex-direction {
  flex-direction: row;
}
.mb-24 {
  margin-bottom: 24px;
}
.mt-100 {
  margin-top: 100px;
}
.text-align {
  text-align: center;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Verdana,sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
  transition: all var(--transition-move) 0.4s 0.1s;
}
body.dark {
  background-color: var(--dark-color);
}
.main{
  overflow: hidden;
}

.overlay-member {
  background-color: #fff;
}
.overlay-member.dark {
  background-color: var(--dark-color);
}

.overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.overlay-close:hover {
  opacity: 0.5;
}

.overlay-close-icon {
  /* font-size: 31px; */
  color: black;
  padding: 5px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: none;
}
.overlay-close-icon.active {
  display: block;
  transition: all var(--transition-move) 0.4s 0.1s;
}

.overlay-member-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  position: relative;
}

.overlay-member-img{
  margin: 0 50px;
}

.overlay-member-img img {
  border-radius: 10px;
}

.overlay-member-info{
  font-family: 'Source Serif Pro', serif;
  letter-spacing: 1px;
  height: 100%;
  min-width: 50%;
  padding: 75px 16px 0;
  font-size: 22px;
  line-height: 1.5;
  width: 100%;
  color: #000;
}

.overlay-member-info.dark {
  color: #fff;
}

.key-info {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.logo-member-info {
  position: absolute;
  bottom: 0;
  right: 0;
}

.member-phone {
  font-weight: 500;
  /* text-decoration: none; */
}

.contact-item {
  display: inline-block;
  margin-top: 8px;
  cursor: pointer;
}
.contact-item:hover .contact-facebook {
  display: block;
}

.contact-icon {
  color: #097ceb
}

.contact-icon:hover {
  opacity: 0.7;
}
.contact-facebook {
  display: none;
  animation: fadeIn linear 0.5s;
}

.contact-facebook-show{
  position: relative;
}

.contact-facebook-show img {
  position: absolute;
  top: -7px;
  left: -43px;
  width: 110px;
  height: 110px;
  cursor: default;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-item-img {
  width: 21px;
  height: 20px;
}

.contact-link {
  text-decoration: none;
  color: black;
}

.show-img {
  font-family: 'Poppins', sans-serif;
  display: none;
  color: #000;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.show-img.dark {
  color: #fff
}

.space {
  width: 55px;
}
/* Mobile & Tablet  <= 1023px */
@media screen and (max-width: 63.9375em) {
  .overlay-member {
    width: 98%;
    left: 1%;
  }
  .logo-member-info {
    right: 5px;
  }
  .contact-icon {
    width: 30px;
    height: 35px;
  }
  .overlay-member-info {
    letter-spacing: 0;
    padding: 75px 10px 0 0;
    font-size: 21px;
  }
  .overlay-member-info p {
    max-width: 365px;
    padding-right: 24px;
  }
}
/* Mobile: Width < 740px */
@media screen and (max-width: 46.1875em) {
  .overlay-member-img {
    display: none;
  }
  .overlay-member-info {
    padding: 75px 9px 0;
  }
  .show-img {
  display: block;
  text-align: center;
  }
  .overlay-member-info p {
    padding-right: 0;
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .overlay-member {
    width: 98%;
    left: 1%;
  }
  .member-img-responsive {
    width: 340px;
  }
}

/* PC: width >= 1024px */
@media screen and (min-width: 64em) {

}
