:root {
  --overlay-width: 100%;
  --overlay-height: 600px;
  --primary-color: #ff8d00;
  --topic-color: #ffc86e;
  --transition-move: cubic-bezier(.25, -0.59, 0.82, 1.66);
  --dark-color: #111;
}
.mb-24 {
  margin-bottom: 24px;
}
.mt-100 {
  margin-top: 100px;
}
.text-align {
  text-align: center;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Verdana,sans-serif;
  scroll-behavior: smooth;
  background-color: #fff;
  transition: all var(--transition-move) 0.4s 0.1s;
}
body.dark {
  background-color: var(--dark-color);
}
.main{
  overflow: hidden;
}

.overlay-member {
}

.overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.overlay-close:hover {
  opacity: 0.5;
}

.overlay-close-icon {
  font-size: 31px;
  color: black;
  padding: 5px;
}

.overlay-member-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.overlay-member-img{
  margin: 0 50px;
}

.overlay-member-img img {
  border-radius: 10px;
}

.overlay-member-info{
  font-family: 'Source Serif Pro', serif;
  letter-spacing: 1px;
  height: 100%;
  min-width: 50%;
  padding: 75px 16px 0;
  font-size: 22px;
  line-height: 1.5;
  width: 100%;
}

.member-phone {
  font-weight: 500;
  text-decoration: none;
}

.contact-item {
  display: inline-block;
  margin-top: 8px;
  cursor: pointer;
}
.contact-item:hover .contact-facebook {
  display: block;
}

.contact-icon {
  color: #097ceb
}

.contact-icon:hover {
  opacity: 0.7;
}
.contact-facebook {
  display: none;
  animation: fadeIn linear 0.5s;
}

.contact-facebook-show{
  position: relative;
}

.contact-facebook-show img {
  position: absolute;
  top: -7px;
  left: -43px;
  width: 110px;
  height: 110px;
  cursor: default;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-item-img {
  width: 21px;
  height: 20px;
}

.contact-link {
  text-decoration: none;
  color: black;
}

.space {
  width: 55px;
}