.member {
  padding: 0 8px 100px;
  border-bottom: 2px solid #e1e1e1;
}

.member-title-list {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 100px 0;
}

.member-title-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 25px;
  padding: 19px;
  font-size: 27px;
  font-weight: bold;
  margin: 8px;
  color: var(--primary-color);
  position: relative;
  width: 55px;
  height: 65px;
}
.member-title-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: currentColor;
  opacity: 0.2;
  border-radius: 5px;
}

.member-img {
  padding-top: 150%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
  display: block;
  box-shadow: 0px 0px 8px;
}

.member-img.dark {
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
}

.background-top {
  background-position: top;
}
.background-bottom {
  background-position: bottom;
}
.member-name{
  position: absolute;
  top: 0;
  left: 100%;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: 0.5s;
  background-color: #262626;
  cursor: pointer;
  opacity: 0;
}

.member-name h1 {
  font-family: 'Playball', cursive;
  text-align: center;
  padding: 32px 0px 16px;
  margin: 0 8px;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 5px;
}

.member-name img {
  width: 120px;
  margin-top: 40px;
}

.member-img:hover .member-name {
  display: block;
  opacity: 1;
  top: 0;
  left: 0;
}

/* Mobile & Tablet  <= 1023px */
@media screen and (max-width: 63.9375em) {
  .member-img:hover .member-name{
    display: none;
  }
}
/* Mobile: Width < 740px */
@media screen and (max-width: 46.1875em) {
  .intro,
  .member,
  .album {
    padding-top: 60px;
  }
  .album-container-item {
    padding-top: 50px;
  }
  .member-title-list {
    padding: 0px 0 25px ;
    flex-direction: column;
    align-items: center;
  }
  .space {
    display: none;
  }
  .member-title-item {
    margin: 10px 4px;
    width: 50px;
    height: 50px;
    font-size: 25px;
  }

}

/* Tablet: width >= 740px and width < 1024px */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* PC: width >= 1024px */
@media screen and (min-width: 64em) {
}

